@model Category

<form method="post" class="col-6 my-3">
    <input class="form-control mb-2" type="text" asp-for="Name" placeholder="Category.." />
    <input class="btn btn-outline-success btn-sm" type="submit" value="Create" />
</form>